
<%= form_with(model: general_report, local: true) do |f| %>
  <% if general_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(general_report.errors.count, "error") %> </h2>

      <ul>
        <% general_report.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="control">
      <%= f.label :data %>
      <%= f.text_field :data, class: "input is-link"%>
    </div>
  </div>

  <div class="actions">
    <%= f.submit t('.create'), class: "button is-link"%>
  </div>
<% end %>
