<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image  is-128x128">
          <%= image_tag "#{report.overweight.zero? ? 'box' : 'overweight'}.svg" %>
        </figure>
      </div>
      <div class="media-content">
        <div class="columns is-desktop">
          <div class="column">
            <p class="title is-6"><%=t('.platform_weight')%></p>
            <p class="subtitle is-6"><%=report.total_weight%></p>
         </div>
          <div class="column">
            <p class="title is-6"><%=t('.fedex_weight')%></p>
            <p class="subtitle is-6"><%=report.weight_fedex%></p>
          </div>
          <div class="column">
            <p class="title is-6"><%=t('.overweight')%></p>
            <p class="subtitle is-6 has-text-danger	"><%=report.overweight if report.overweight > 0%></p>
            <p class="subtitle is-6 has-text-danger	"><%=t('.platform_overweight') if report.overweight < 0%></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
