<section class="section">
  <div class="container">
    <p id="notice"><%= notice %></p>

    <h1><%=t('.general_reports')%></h1>

    <table class="table is-narrow table is-hoverable">
      <thead>
        <tr>
          <th><%=t('.data')%></th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @general_reports.each do |general_report| %>
          <tr>
            <td><%= general_report.data %></td>
            <td><%= link_to t('.show'), general_report, class: 'button is-link' %></td>
            <td><%= link_to t('.destroy'), general_report, method: :delete, class:'button is-danger', data: { confirm: t('.are_you_sure') } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to t('.new_general_report'), new_general_report_path, class: 'button is-link' %>
  </div>
</section>
