<section class="section">
  <div class="container">
    <h1><%=t('.new_general_report')%></h1>

    <%= render 'form', general_report: @general_report %>

    <%= link_to t('.back'), general_reports_path %>
  </div>
</section>
