<p id="notice"><%= notice %></p>

<section class="section">
  <div class="container">
    <h1><%= t(".report_of") %><%=l @general_report.created_at, format: :date%></h1>
    <%= render partial: 'report', collection: @general_report.reports %>
    <%= link_to t('.back'), general_reports_path %>
  </div>
</section>
