<p id="notice"><%= notice %></p>

<h1>Reports</h1>

<table>
  <thead>
    <tr>
      <th>Tracking number</th>
      <th>Carrier</th>
      <th>Length</th>
      <th>Width</th>
      <th>height</th>
      <th>weight</th>
      <th>Distance unit</th>
      <th>Mass unit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <%= render partial: 'report', collection: @reports %>
    </tr>
  </tbody>
</table>

<br>
