<p id="notice"><%= notice %></p>

<p>
  <strong>Tracking number:</strong>
  <%= @report.tracking_number %>
</p>

<p>
  <strong>Carrier:</strong>
  <%= @report.carrier %>
</p>

<%= link_to 'Back', reports_path %>
